p {
  font-size: 2.5em;
  font-family: Roboto, Lato, sans-serif;
  text-align: center;
  margin: 10% auto;
  color: #3c3c3c;
}

a {
  text-decoration: none;
  color: #1EAEDB;
  transition: .5s;
}

a:hover {
  cursor: pointer;
  color: #0ec0bb;
  transition: .3s;
}

button {
  display: block;
  text-align: center;
  background-color: #eaeaea;
  border: 1px solid #cecece;
  border-radius: 10px;
  padding: 1%;
  font-size: 1.5em;
  margin: 5% auto;
  transition: 1s;
}

button:hover {
  cursor: pointer;
  background-color: #fff;
  transition: 0.5s;
}
